# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Env (no subas claves)
.env
.env.*
!.env.example   # si quieres commitear un ejemplo vacío

# Tests / caches opcionales
coverage
.eslintcache

# Vercel build output local (si llegas a usar CLI)
.vercel